include.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	targetNamespace="http://www.w3.org/2001/XInclude"
	finalDefault="extension">
	
	<xs:element name="include" type="xi:includeType" />
	
	<xs:complexType name="includeType" mixed="true">
		<xs:attribute name="href" type="xs:anyURI"/>
		<xs:attribute name="parse" use="optional" default="xml"
			type="xs:string" />
		<xs:attribute name="xpointer" use="optional" type="xs:string"/>
		<xs:attribute name="encoding" use="optional" type="xs:string"/>
	</xs:complexType>
	
</xs:schema>